<%-include("partials/header.ejs")%>
<div class="ui main text container segment">
    <div class="ui raised segment">
       <h1 class="ui huge header"><%=id%></h1>
    </div>
    <div class="ui divider"></div>
    <div class="description">
        <p>Hello My name is <strong><%=id%></strong>.<br>You can find all my blogs <a href="/blogs/<%=id%>">here</a></p>
    </div>
</div>



<%-include("partials/footer.ejs")%>